CÂU 1: Hãy đọc dữ liệu từ các file csv, sử dụng tự suy ra kiểu dữ liệu cho mỗi cột.

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Lab3').getOrCreate()

orders_df = spark.read.format("csv").options(header='True', delimiter=';', inferSchema='True').load("Orders.csv")
customers_df = spark.read.format("csv").options(header='True', delimiter=';', inferSchema='True').load("Customer_List.csv")
order_items_df = spark.read.format("csv").options(header='True', delimiter=';', inferSchema='True').load("Order_Items.csv")
products_df = spark.read.format("csv").options(header='True', delimiter=';', inferSchema='True').load("Products.csv")
reviews_df = spark.read.format("csv").options(header='True', delimiter=';', inferSchema='True').load("Order_Reviews.csv")

orders_df.printSchema()
customers_df.printSchema()
order_items_df.printSchema()
products_df.printSchema()
reviews_df.printSchema()

customers_df.show(5)
orders_df.show(5)
order_items_df.show(5)
products_df.show(5)
reviews_df.show(5)

root
 |-- Order_ID: string (nullable = true)
 |-- Customer_Trx_ID: string (nullable = true)
 |-- Order_Status: string (nullable = true)
 |-- Order_Purchase_Timestamp: timestamp (nullable = true)
 |-- Order_Approved_At: timestamp (nullable = true)
 |-- Order_Delivered_Carrier_Date: timestamp (nullable = true)
 |-- Order_Delivered_Customer_Date: timestamp (nullable = true)
 |-- Order_Estimated_Delivery_Date: timestamp (nullable = true)

root
 |-- Customer_Trx_ID: string (nullable = true)
 |-- Subscriber_ID: string (nullable = true)
 |-- Subscribe_Date: date (nullable = true)
 |-- First_Order_Date: date (nullable = true)
 |-- Customer_Postal_Code: string (nullable = true)
 |-- Customer_City: string (nullable = true)
 |-- Customer_Country: string (nullable = true)
 |-- Customer_Country_Code: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)

root
 |-- Order_ID: string (nullable = true)
 |-- Order_Item_ID: integer (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Seller_ID: string (nullable = true)
 |-- Shipping_Limit_Date: timestamp (nullable = true)
 |-- Price: double (nullable = true)
 |-- Freight_Value: double (nullable = true)

root
 |-- Product_ID: string (nullable = true)
 |-- Product_Category_Name: string (nullable = true)
 |-- Product_Weight_Gr: integer (nullable = true)
 |-- Product_Length_Cm: integer (nullable = true)
 |-- Product_Height_Cm: integer (nullable = true)
 |-- Product_Width_Cm: integer (nullable = true)

root
 |-- Review_ID: string (nullable = true)
 |-- Order_ID: string (nullable = true)
 |-- Review_Score: string (nullable = true)
 |-- Review_Comment_Title_En: string (nullable = true)
 |-- Review_Comment_Message_En: string (nullable = true)
 |-- Review_Creation_Date: string (nullable = true)
 |-- Review_Answer_Timestamp: timestamp (nullable = true)

+--------------------+--------------------+--------------+----------------+--------------------+-------------+----------------+---------------------+---+------+
|     Customer_Trx_ID|       Subscriber_ID|Subscribe_Date|First_Order_Date|Customer_Postal_Code|Customer_City|Customer_Country|Customer_Country_Code|Age|Gender|
+--------------------+--------------------+--------------+----------------+--------------------+-------------+----------------+---------------------+---+------+
|1e959e1f5920cba43...|9765e039028279fd2...|    2023-07-08|      2023-07-09|            FR-75005|        Paris|          France|                   FR| 29|  Male|
|9877437582f263da7...|a75e134e7eb6f96e2...|    2024-03-23|      2024-04-11|           PL-00-001|       Warsaw|          Poland|                   PL| 38|  Male|
|fa6fbbb2080646aca...|2fdac27295500e820...|    2023-05-12|      2023-06-01|             NL-1012|    Amsterdam|     Netherlands|                   NL| 35|Female|
|a4c9ff14ae7620126...|e9ab8fd8ea96c85be...|    2023-04-16|      2023-04-26|            IT-00144|         Rome|           Italy|                   IT| 62|  Male|
|93d5e378ae2f72a07...|6384e6a7b02171761...|    2023-05-26|      2023-06-27|             NL-1011|    Amsterdam|     Netherlands|                   NL| 19|  Male|
+--------------------+--------------------+--------------+----------------+--------------------+-------------+----------------+---------------------+---+------+
only showing top 5 rows

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            Order_ID|     Customer_Trx_ID|Order_Status|Order_Purchase_Timestamp|  Order_Approved_At|Order_Delivered_Carrier_Date|Order_Delivered_Customer_Date|Order_Estimated_Delivery_Date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2023-10-02 10:56:00|2023-10-02 11:07:00|         2023-10-04 19:55:00|          2023-10-10 21:25:00|          2023-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2024-07-24 20:41:00|2024-07-26 03:24:00|         2024-07-26 14:31:00|          2024-08-07 15:27:00|          2024-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2024-08-08 08:38:00|2024-08-08 08:55:00|         2024-08-08 13:50:00|          2024-08-17 18:06:00|          2024-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2023-11-18 19:28:00|2023-11-18 19:45:00|         2023-11-22 13:39:00|          2023-12-02 00:28:00|          2023-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2024-02-13 21:18:00|2024-02-13 22:20:00|         2024-02-14 19:46:00|          2024-02-16 18:17:00|          2024-02-26 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 5 rows

+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|            Order_ID|Order_Item_ID|          Product_ID|           Seller_ID|Shipping_Limit_Date|Price|Freight_Value|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2023-09-19 09:45:00| 58.9|        13.29|
|00018f77f2f0320c5...|            1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2023-05-03 11:05:00|239.9|        19.93|
|000229ec398224ef6...|            1|c777355d18b72b67a...|5b51032eddd242adc...|2024-01-18 14:48:00|199.0|        17.87|
|00024acbcdf0a6daa...|            1|7634da152a4610f15...|9d7a1d34a50524090...|2024-08-15 10:10:00|12.99|        12.79|
|00042b26cf59d7ce6...|            1|ac6c3623068f30de0...|df560393f3a51e745...|2023-02-13 13:57:00|199.9|        18.14|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+
only showing top 5 rows

+--------------------+---------------------+-----------------+-----------------+-----------------+----------------+
|          Product_ID|Product_Category_Name|Product_Weight_Gr|Product_Length_Cm|Product_Height_Cm|Product_Width_Cm|
+--------------------+---------------------+-----------------+-----------------+-----------------+----------------+
|1e9e8ef04dbcff454...|            Perfumery|              225|               16|               10|              14|
|3aa071139cb16b67c...|                  Art|             1000|               30|               18|              20|
|96bd76ec8810374ed...|       Sports_Leisure|              154|               18|                9|              15|
|cef67bcfe19066a93...|                 Baby|              371|               26|                4|              26|
|9dc1a7de274444849...|           Housewares|              625|               20|               17|              13|
+--------------------+---------------------+-----------------+-----------------+-----------------+----------------+
only showing top 5 rows

+--------------------+--------------------+------------+-----------------------+-------------------------+--------------------+-----------------------+
|           Review_ID|            Order_ID|Review_Score|Review_Comment_Title_En|Review_Comment_Message_En|Review_Creation_Date|Review_Answer_Timestamp|
+--------------------+--------------------+------------+-----------------------+-------------------------+--------------------+-----------------------+
|7bc2406110b926393...|73fc7af87114b3971...|           4|                   NULL|                     NULL|    2024-01-18 00:00|    2024-01-18 21:46:00|
|80e641a11e56f04c1...|a548910a1c6147796...|           5|                   NULL|                     NULL|    2024-03-10 00:00|    2024-03-11 03:05:00|
|228ce5500dc1d8e02...|f9e4b658b201a9f2e...|           5|                   NULL|                     NULL|    2024-02-17 00:00|    2024-02-18 14:36:00|
|e64fb393e7b32834b...|658677c97b385a9be...|           5|                   NULL|     I received it wel...|    2023-04-21 00:00|    2023-04-21 22:02:00|
|f7c4243c7fe1938f1...|8e6bfb81e283fa7e4...|           5|                   NULL|     Congratulations l...|    2024-03-01 00:00|    2024-03-02 10:26:00|
+--------------------+--------------------+------------+-----------------------+-------------------------+--------------------+-----------------------+
only showing top 5 rows

CÂU 2: Thống kê tổng số đơn hàng, số lượng khách hàng và người bán.

In [9]:
total_orders = orders_df.select("Order_ID").count()
total_customers = customers_df.select("Customer_Trx_ID").distinct().count()
total_sellers = order_items_df.select("Seller_ID").distinct().count()

print(f"Tổng số đơn hàng: {total_orders}")
print(f"Tổng số khách hàng: {total_customers}")
print(f"Tổng số người bán: {total_sellers}")

Tổng số đơn hàng: 99441
Tổng số khách hàng: 99442
Tổng số người bán: 3095

CÂU 3: Phân tích số lượng đơn hàng theo quốc gia, sắp xếp theo thứ tự giảm dần

In [18]:
from pyspark.sql.functions import col

orders_country = orders_df.join(
    customers_df,
    on="Customer_Trx_ID",
    how="left"
)

result = orders_country.groupBy("Customer_Country") \
    .count() \
    .orderBy(col("count").desc())

result.show(50)

+----------------+-----+
|Customer_Country|count|
+----------------+-----+
|         Germany|41754|
|          France|12848|
|     Netherlands|11629|
|         Belgium| 5464|
|         Austria| 5043|
|     Switzerland| 3640|
|  United Kingdom| 3382|
|          Poland| 2139|
|         Czechia| 2034|
|           Italy| 2025|
|           Spain| 1651|
|        Portugal| 1336|
|          Sweden|  975|
|         Denmark|  905|
|          Serbia|  746|
|          Norway|  716|
|        Slovakia|  534|
|        Slovenia|  495|
|          Turkey|  485|
|          Greece|  412|
|       Lithuania|  351|
|          Latvia|  280|
|         Croatia|  254|
|         Estonia|  148|
|         Finland|   81|
|      Luxembourg|   68|
|         Andorra|   46|
+----------------+-----+

CÂU 4: Phân tích số lượng đơn hàng nhóm theo năm, tháng đặt hàng (Hiển thị theo năm
tăng dần, tháng giảm dần)

In [55]:
from pyspark.sql.functions import month, year, count, asc, desc

orders_by_time = orders_df.withColumn("order_year", year("Order_Purchase_Timestamp")) \
                          .withColumn("order_month", month("Order_Purchase_Timestamp")) \
                          .groupBy("order_year", "order_month") \
                          .agg(count("Order_ID"))\
                          .orderBy(asc("order_year"), desc("order_month"))
print("Số đơn hàng đặt theo năm tăng dần, tháng giảm dần")
orders_by_time.show(50)

Số đơn hàng đặt theo năm tăng dần, tháng giảm dần
+----------+-----------+---------------+
|order_year|order_month|count(Order_ID)|
+----------+-----------+---------------+
|      2022|         12|              1|
|      2022|         10|            324|
|      2022|          9|              4|
|      2023|         12|           5673|
|      2023|         11|           7544|
|      2023|         10|           4631|
|      2023|          9|           4285|
|      2023|          8|           4331|
|      2023|          7|           4026|
|      2023|          6|           3245|
|      2023|          5|           3700|
|      2023|          4|           2404|
|      2023|          3|           2682|
|      2023|          2|           1780|
|      2023|          1|            800|
|      2024|         10|              4|
|      2024|          9|             16|
|      2024|          8|           6512|
|      2024|          7|           6292|
|      2024|          6|           6167|
|      2024|          5|           6873|
|      2024|          4|           6939|
|      2024|          3|           7211|
|      2024|          2|           6728|
|      2024|          1|           7269|
+----------+-----------+---------------+

CÂU 5: Thống kê điểm đánh giá trung bình, số lượng đánh giá theo từng mức (ví dụ: 1 đến
5)

In [68]:
from pyspark.sql.functions import avg, col, count

#Do dữ liệu Review_Score đang là kiểu string nên phải chuyển về kiểu int để tính trung bình
reviews_df_int = reviews_df.withColumn("Review_Score", reviews_df["Review_Score"].cast("int"))

average_review_score = reviews_df_int \
    .filter(col("Review_Score").isNotNull()) \
    .select(avg("Review_Score"))

print("Điểm đánh giá trung bình:")
average_review_score.show()

number_of_reviews_by_score = reviews_df_int \
    .filter(col("Review_Score").isNotNull()) \
    .groupBy("Review_Score") \
    .agg(count("*").alias("Review Count")) \
    .orderBy("Review_Score")

print("Số lượng đánh giá theo từng mức:")
number_of_reviews_by_score.show()

Điểm đánh giá trung bình:
+------------------+
| avg(Review_Score)|
+------------------+
|4.0864214950162765|
+------------------+

Số lượng đánh giá theo từng mức:
+------------+------------+
|Review_Score|Review Count|
+------------+------------+
|           1|       11424|
|           2|        3151|
|           3|        8179|
|           4|       19141|
|           5|       57328|
+------------+------------+

CÂU 6: Tính doanh thu (giá sản phẩm + phí vận chuyển) trong năm 2024 và nhóm theo
danh mục sản phẩm

In [62]:
from pyspark.sql.functions import year, col, sum as spark_sum

# Lọc đơn hàng trong năm 2024
df_2024_orders = orders_df.join(
    order_items_df,
    on="Order_ID",
    how="inner"
    ).join(
        products_df,
        on="Product_ID",
        how="left"
    ).filter(
        (year(col("Order_Purchase_Timestamp")) == 2024)
    )

# Tính doanh thu
revenue_by_category = (
    df_2024_orders
    .withColumn("revenue", col("price") + col("freight_value"))
    .groupBy("product_category_name")
    .agg(spark_sum("revenue").alias("Revenue"))
)

revenue_by_category.show(50, truncate=False)

+---------------------------------------+------------------+
|product_category_name                  |Revenue           |
+---------------------------------------+------------------+
|Kitchen_Dining_Laundry_Garden_Furniture|34951.24999999999 |
|Fashion_Male_Clothing                  |2810.4100000000003|
|Stationery                             |164743.84999999986|
|Books_Technical                        |16570.430000000004|
|Food                                   |25709.750000000007|
|Housewares                             |491576.9600000012 |
|Books_Imported                         |4090.710000000001 |
|Perfumery                              |204562.53999999992|
|Art                                    |17947.630000000005|
|Fashion_Bags_Accessories               |85091.27999999997 |
|Computers                              |67860.8           |
|Cool_Stuff                             |273910.0500000001 |
|Furniture_Living_Room                  |42774.14000000003 |
|Consoles_Games                         |72967.49999999997 |
|Baby                                   |299052.5599999998 |
|Construction_Tools_Safety              |35409.3           |
|Home_Confort                           |24186.810000000005|
|Construction_Tools_Lights              |43867.84000000001 |
|Air_Conditioning                       |28889.119999999988|
|Fashion_Shoes                          |10118.42          |
|Industry_Commerce_And_Business         |37332.84000000001 |
|Fixed_Telephony                        |30497.86          |
|Electronics                            |134265.4499999999 |
|Costruction_Tools_Garden               |20492.689999999995|
|Home_Appliances                        |66460.23999999998 |
|Signaling_And_Security                 |22413.09          |
|Costruction_Tools_Tools                |13448.200000000003|
|Computers_Accessories                  |594771.0400000002 |
|Tablets_Printing_Image                 |1541.8300000000002|
|Auto                                   |404210.5700000002 |
|Home_Appliances_2                      |96291.60000000002 |
|Construction_Tools_Construction        |141187.33999999985|
|Furniture_Mattress_And_Upholstery      |2688.6399999999994|
|Fashion_Sport                          |431.19            |
|Musical_Instruments                    |121476.30999999997|
|Books_General_Interest                 |32252.79999999999 |
|Pet_Shop                               |152804.94000000012|
|Small_Appliances                       |97210.18          |
|Fashio_Female_Clothing                 |783.37            |
|Office_Furniture                       |181745.7300000001 |
|Dvds_Blu_Ray                           |1674.8500000000001|
|La_Cuisine                             |890.8499999999999 |
|Bed_Bath_Table                         |650794.700000002  |
|Christmas_Supplies                     |8078.5            |
|Sports_Leisure                         |621999.3399999994 |
|Agro_Industry_And_Commerce             |47262.18000000002 |
|Music                                  |4994.579999999999 |
|Cds_Dvds_Musicals                      |117.58            |
|#N/A                                   |90849.48000000004 |
|Party_Supplies                         |3278.4100000000008|
+---------------------------------------+------------------+
only showing top 50 rows